<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comptes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="container-flex">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="./index.html">
                <img src="../img/pourquoimabanque.fr_.png" width="10%" height="5%" alt="">
                Ma Banque
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./addAccount.html">Créer un nouveau compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./consultCompte.html">Consulter un compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./operationCompte.html">Effectuer une operation</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="containerForm">
            <form action="./index.html" method="post" id="formId">
                <div>
                    <label for="numCompte">Numero de compte</label>
                    <input type="number" name="numCompte" id="numCompteInput">
                </div>
                <div>
                    <label for="typeOperation">Type d'operation :</label><br>
                    <input type="radio" name="typeOperation" id="versement" value="versement"
                        onclick="checkTypeOperation()"><label for="versement">Versement</label>
                    <input type="radio" name="typeOperation" id="retrait" value="retrait"
                        onclick="checkTypeOperation()"><label for="retrait">Retrait</label><br>
                </div>
                <div id="inputVersementOuRetrait"></div>
                <div>
                    <label for="description">Description</label>
                    <input type="text" name="descriptionOperation" id="description">
                </div>
                <button type="submit" id="submitOperation">Effectuer l'operation</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="../js/operationCompte.js"></script>
</body>
</div>

</html>